body {
  height: 100vh;
  margin: 0px;
  overflow-x: hidden;
  cursor: crosshair;
  background-color: #d8e5f3;
}

canvas {
  z-index: -1200;
  display: block;
  position: absolute;
  top: 0;
}

#home {
  stroke: #000000;
  border: 1px #000000 solid;
  border-radius: 25px;
  margin-top: 40px;
  margin-left: 50px;
  padding: 2px;
}

#go {
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  font-size: 12px;
}

#top {
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 30px;
  vertical-align: top;
}

#bottom {
  display: flex;
  margin-top: 30vh;
  margin-left: 50px;
  margin-bottom: 100px;
  justify-content: space-around;
}

#learn {
  background-color: #c6e421;
  border: 1px #c6e421 solid;
  color: #000;
  border-radius: 25px;
  padding: 12px;
  text-align: center;
}

#tell {
  background-color: #c6e421;
  border: 1px #c6e421 solid;
  border-radius: 25px;
  color: #000;
  padding: 12px;
  text-align: center;
}

#next {
  background-color: #c6e421;
  color: #000;
  border: 1px #c6e421 solid;
  border-radius: 25px;
  padding: 12px;
  text-align: center;
}

form {
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  background-color: #d8e5f3;
  border: 0px;
  border-bottom: 1px solid black;
  font-size: 30px;
  font-family: "kepler-std-display", serif;
  font-weight: 400;
  font-style: normal;
  width: 500px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

textarea {
  resize: vertical;
  width: 100%;
}

.submissions {
  position: absolute;
}

#submit {
  margin-top: 20px;
  background-color: #d8e5f3;
  border: 0px;
  color: #000;
  padding: 12px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

#submit:hover {
  background-color: #c6e421;
  border-radius: 25px;
}

#output {
  width: 300px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: kepler-std-condensed-display, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 0;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

h2:hover {
  font-style: italic;
}

h3 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

h4 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-top: 5px;
}

h5 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(255, 255, 255);
  z-index: 1000;
  top: -50px;
  position: absolute;
}

p {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.hoveringText {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #c6e421;
  display: none;
  z-index: 1000;
}

#gem:hover > #gemtext {
  display: block;
}

#lstd:hover > #lstdtext {
  display: block;
}

#landi:hover > #landitext {
  display: block;
}

#raul:hover > #raultext {
  display: block;
}

#gg:hover > #ggtext {
  display: block;
}

#gallery {
  height: 75vmax;
  width: 95vmax;
  position: relative;
}

.block {
  position: absolute;
  width: 30%;
  height: 30%;
  z-index: 1;
}

.block:hover {
  z-index: 1.5;
}

.block:nth-child(1) {
  top: 65%;
  left: 60%;
  background: url("img/gemspa.png") no-repeat 50% 50%;
  background-size: cover;
}

.block:nth-child(2) {
  top: 15%;
  right: 0%;
  background: url("img/lstd.png") no-repeat 50% 50%;
  background-size: cover;
}

.block:nth-child(3) {
  top: 15%;
  left: 0%;
  background: url("img/landis.png") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(4) {
  top: 55%;
  left: 7%;
  background: url("img/raul.png") no-repeat 50% 50%;
  background-size: cover;
}
.block:nth-child(5) {
  top: 2%;
  left: 20%;
  background: url("img/goldengate.png") no-repeat 50% 50%;
  background-size: cover;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__button {
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c6e421;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: -18px;
  margin: 50px;
  outline: none;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

.header__button[data-open="true"] {
  background-color: #000;
  animation-name: scale;
}

.header__button[data-open="false"] {
  transition: background-color 250ms linear;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(100%);
  }
}

.header__nav {
  background-color: #c6e421;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active="true"] {
  visibility: visible;
}

.header__menu {
  padding: 0;
  margin: 0;
}

.header__menu > .header__menu-item {
  font-size: 12vh;
}

.header__menu > .header__menu-item:not(:last-of-type) {
  margin-bottom: 0em;
}

.header__menu-item a {
  letter-spacing: -4px;
  font-weight: 300 !important;
  color: #000;
  text-decoration: none;
}
